# ==========================
# Node.js / TypeScript
# ==========================

# Node modules
**/node_modules/

# Build folders
**/dist/
**/out/
**/build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Temp directories
.temp/
.tmp/

# Environment files
.env

# ==========================
# Java / IDEs
# ==========================

# IntelliJ / JetBrains
*.iml
.idea/
**/.idea/

# ==========================
# C / C++ / CMake
# ==========================

# Build folders
**/cmake-build-debug/

# OS / macOS
.DS_Store
