# ==========================
# Node.js / TypeScript
# ==========================

# Node modules
**/node_modules/

# Build folders
**/dist/
**/out/
**/build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Temp directories
.temp/
.tmp/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage / Test output
coverage/
.nyc_output/

# Environment files
.env
.env.*.local
env/*.env

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ==========================
# Java / IDEs
# ==========================

# IntelliJ / JetBrains
*.iml
.idea/
**/.idea/

# Eclipse / other Java IDEs
.project
.classpath
.settings/
*.launch

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS / macOS
.DS_Store
